{% extends "form_base.html" %}
{% load static %}

{% block title%}
  Sign-in
{% endblock %}


{% block main %}
  <div class="container min-vh-100 d-flex justify-content-center">
    <main class="form-signin w-50 m-auto">
      <form method="post" action="{% url 'users:login' %}">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" style="padding-bottom: 10px;">
          <img src="../../static/users/images/logo.png" alt="logo" class="bi me-2" width="60" height="40">
        </a>
        <h1 class="h3 mb-3 fw-normal">Пожалуйства авторизуйтесь</h1>
          {% if form.non_field_errors %}
              <div style="font-size:100%;color:#e90000">
                {{ form.non_field_errors }}
              </div>
          {% endif %}
          <div class="form-floating">
            {{ form.username }}
            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
          </div>
          <div class="form-floating">
            {{ form.password }}
            <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
          </div>
          <div class="text-end" style="padding: 10px;">
            <a href="{% url 'users:password_reset' %}">Забыли пароль?</a>
          </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Авторизоваться</button>
        <div style="padding: 10px;">
          Новый пользователь? <a href="{% url 'users:register' %}">Создайте аккаунт</a>
        </div>
        <p class="">© 2024 Moscow</p>
        {% csrf_token %}
      </form>
    </main>
  </div>
{% endblock %}
