{% extends "form_base.html" %}
{% load static %}


{% block title %}Reset your password{% endblock %}

{% block header %}
  <nav class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        {% include "../nav_temp/nav_not_auth.html" %}
      </div>
    </div>
  </nav>
{% endblock %}

{% block main %}
  <div class="container min-vh-100 d-flex justify-content-center">
    <main class="form-signin w-50 m-auto">
      <form method="post" class="requires-validation">
        <h1 class="h1 mb-3 fw-normal">Восстановление пароля</h1>
        <h1 class="h6 mb-3 fw-normal">Введите новый пароль дважды</h1>
        <h1 class="h6 mb-3 fw-normal">Если форма не работает, то возможно ссылка была уже использована, тогда воспользуйтесь восстановлением пароля еще раз</h1>
        <div class="form-floating" style="padding-bottom: 10px;">
          {{ form.new_password1 }}
          <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
        </div>
        <div class="form-floating" style="padding-bottom: 10px;">
          {{ form.new_password2 }}
          <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
        </div>
        {% if form.new_password2.errors %}
          <div style="font-size:100%;color:#e90000">
            {{ form.new_password2.errors }}
          </div>
        {% endif %}
        <button class="btn btn-primary w-100 py-2" type="submit">Подтвердить</button>
        <p style="padding-top: 10px;">© 2024 Moscow</p>
        {% csrf_token %}
      </form>
    </main>
  </div>
{% endblock %}
