{% extends "form_base.html" %}
{% load static %}

{% block title%}
    Смена пароля
{% endblock %}

{% block header%}
    <header class="p-3 text-bg-dark">
        <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            {% include '../nav_temp/nav_auth.html' %}
        </div>
        </div>
    </header>
{% endblock %}

{% block main %}
<div class="container min-vh-100 d-flex justify-content-center">
    <main class="form-signin w-50 m-auto">
      <form method="post" enctype="multipart/form-data">
        <h1 class="h1 mb-3 fw-normal" style="padding-bottom: 15px;">Смена пароля</h1>

        <div class="form-floating" style="padding-bottom: 10px;">
            {{ form.old_password }}
            <label for="{{ form.email.id_for_label }}">{{ form.old_password.label }}</label>
        </div>

        <div class="form-floating" style="padding-bottom: 10px;">
            {{ form.new_password1 }}
            <label for="{{ form.email.id_for_label }}">{{ form.new_password1.label }}</label>
        </div>

        <div class="form-floating" style="padding-bottom: 10px;">
            {{ form.new_password2 }}
            <label for="{{ form.email.id_for_label }}">{{ form.new_password2.label }}</label>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">Сменить пароль</button>
        <p style="padding-top: 10px;">© 2024 Москва</p>
        {% csrf_token %}
      </form>
    </main>
</div>
{% endblock %}
