{% extends "base.html" %}
{% load static %}

{% block title %}Главная страница сайта{% endblock %}

{% block content %}
<div class="container">
    <h1>Информация о курсовой работе</h1>
    <h6>Это веб-приложение является результатом курсовой работы по предмету "Основы алгоритмизации и программирования"</h6>
    <h6>Формулировка задания:</h6>
    <li>66. Написать программу регистрации пользователя. Необходимо запросить информацию: Ф.И.О., дата рождения, пол, город, email, логин, пароль, подтверждение пароля. Проверить корректность введенных данных. Затем запомнить их в связном списке, при этом пароль должен быть закодирован с помощью битовой операции XOR (исключающее ИЛИ) (восстановление производится также с помощью этой операции).
        Реализовать возможность запроса логина и пароля пользователя и при корректном вводе, вывести сообщение о входе в личный кабинет. Список пользователей должен сохраняться в файле и загружаться из файла при запуске программы.</li>
</div>
{% endblock %}
