{% load static %}

<!DOCTYPE html>
<html lang="ru" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'users/css/bootstrap.min.css' %}">
</head>
<body>
    <header class="p-3 text-bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            {% if not user.is_authenticated %}
              {% include "nav_temp/nav_not_auth.html" %}
            {% else %}
              {% include "nav_temp/nav_auth.html" %}
            {% endif %}
          </div>
        </div>
      </header>
    {% block content %}
    {% endblock %}
    <script src="{% static 'users/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
