{% extends "form_base.html" %}
{% load static %}

{% block title %}
    Добавить свой город
{% endblock %}

{% block header %}
  <nav class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        {% include "../nav_temp/nav_auth.html" %}
      </div>
    </div>
  </nav>
{% endblock %}

{% block main %}
  <div class="container min-vh-100 d-flex justify-content-center">
    <main class="form-signin w-50 m-auto">
      <form method="post">
        <h1 class="h3 mb-3 fw-normal">Добавьте город</h1>
        <div class="form-floating">
          {{ form.name }}
          <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
        </div>
        <br>
        <button class="btn btn-primary w-100 py-2" type="submit">Добавить</button>
        <p style="padding-top: 10px;">© 2024 Moscow</p>
        {% csrf_token %}
      </form>
    </main>
  </div>
{% endblock %}
