{% extends "form_base.html" %}
{% load static %}

{% block title %}
    Удаление аккаунта
{% endblock %}

{% block header %}
  <nav class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        {% include "../nav_temp/nav_auth.html" %}
      </div>
    </div>
  </nav>
{% endblock %}

{% block main %}
  <div class="container min-vh-100 d-flex justify-content-center">
    <main class="form-signin w-50 m-auto">
      <form method="post" class="requires-validation">
        <h1 class="h1 mb-3 fw-normal">Подтверждение удаления</h1>
        <h1 class="h6 mb-3 fw-normal">Чтобы подтвердить удаление аккаунта введите <b><i>users/{{ user.username }}</i></b> в поле ниже</h1>
        <div class="form-floating" style="padding-bottom: 10px;">
          {{ form.confirmation }}
          <label for="{{ form.confirmation.id_for_label }}">{{ form.confirmation.label }}</label>
        </div>
        {% if form.confirmation.errors %}
          <div style="font-size:100%;color:#e90000">
            {{ form.confirmation.errors }}
          </div>
        {% endif %}
        <input type="hidden" name="hidden_data" value="{{ user.username }}">
        <button class="btn btn-danger w-100 py-2" type="submit">Удалить</button>
        <p style="padding-top: 10px;">© 2024 Moscow</p>
        {% csrf_token %}
      </form>
    </main>
  </div>
{% endblock %}
