{% extends "form_base.html" %}
{% load static %}

{% block title %}
register
{% endblock %}

{% block header %}
  <nav class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        {% include "../nav_temp/nav_register.html" %}
      </div>
    </div>
  </nav>
{% endblock %}

{% block main %}
  <div class="container min-vh-100 d-flex justify-content-center">
    <main class="form-signin w-50 m-auto">
      <form method="post" action="{% url 'users:register' %}">
        <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
        <div class="form-floating">
          {{ user_form.username }}
          <label for="{{ user_form.username.id_for_label }}">{{ user_form.username.label }}</label>
        </div>
        <div class="form-floating">
          {{ user_form.email }}
          <label for="{{ user_form.email.id_for_label }}">{{ user_form.email.label }}</label>
        </div>
        <div class="form-floating">
          {{ user_form.password }}
          <label for="{{ user_form.password.id_for_label }}">{{ user_form.password.label }}</label>
        </div>
        <div class="form-floating">
          {{ user_form.password2 }}
          <label for="{{ user_form.password2.id_for_label }}">{{ user_form.password2.label }}</label>
        </div>
        <br>
        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
        <p style="padding-top: 10px;">© 2024 Moscow</p>
        {% csrf_token %}
      </form>
    </main>
  </div>
{% endblock %}
