{% load static %}

<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="{% static 'users/images/logo.png' %}" alt="logo" class="bi me-2" width="40" height="40">
    </a>
    <li><a href="{% url 'users:list_of_users' %}" class="nav-link px-2 text-white">Список пользователей</a></li>
</ul>

<div class="text-end">
    <a href="{% url 'users:login' %}" class="btn btn-outline-light me-2" role="button">Login</a>
    <a href="{% url 'users:register' %}" class="btn btn-warning" role="button">Sign-up</a>
</div>
