<ul class="nav col-8 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
      <img src="../../static/users/images/logo.png" alt="logo" class="bi me-2" width="40" height="32">
    </a>
  </ul>
  
  <div class="text-end">
    <span class="mr-2 text-gray-light-mktg" style="padding-right: 10px;">Already have an account?</span>
    <a href="{% url 'users:login' %}" class="btn btn-outline-light me-2" role="button">Sign in</a>
  </div>
  